<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="sidebarFragment" class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">카페</div>
            <a class="nav-link" href="/admin/cafes">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                카페 목록
            </a>
            <a class="nav-link" href="/admin/cafe/add">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                카페 등록
            </a>
            <div class="sb-sidenav-menu-heading">피드백</div>
            <a class="nav-link" href="/admin/suggestions">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                개선의견
            </a>
            <a class="nav-link" href="/admin/withdrawal-reason">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                탈퇴사유
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>
</html>